<div class="widget-wrap">
    <h3 class="widget-title"><%= __('recruiting') %></h3>
    <div class="widget">
        <a href="https://www.ffri.jp/company/recruit/index.htm" rel="noopener" target="_blank"><img src="/pages/ko-nakagawa/TechBlogSample/images/logo.png" alt="採用情報"></a>
    </div>
</div>
